.layout_wrapper {
  width: 100%;
  background: var(--main-background-color);
  min-height: 100vh;
  .main_header_box {
    position: relative;
    height: 5rem;
    background: var(--navbar-background-color);
  }
}
