.advertisement-container {
  position: relative;
  width: 240px;
 
  transition: transform .3s ease-in-out;

  &.fixed {
    position: fixed;
    top: 20px;
    width: 240px;
    transform: translateY(50px);
  }

  .advertisement {
    position: relative;
    height: 200px;
    background-color: var(--primary-background-color);
    box-shadow: 0 1px 2px 0 var(--shadow-color);
    border-radius: 2px;
    margin-bottom: 1.3rem;
    font-size: 1.16rem;
    line-height: 1.29;
    color: var(--primary-text-color);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    .advertisement-label {
      position: absolute;
      right: 10px;
      bottom: 10px;
      line-height: 36px;
      height: 36px;
      font-size: 20px;
      z-index: 1;
      transform: scale(.5);
      -webkit-transform: scale(.5);
      transform-origin: right bottom;
      -webkit-transform-origin: right bottom;
      color: var(--primary-color);
      background-color: rgba(0, 0, 0, .2);
      border: 1px solid var(--border-color);
      border-radius: 6px;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: 300;

      span {
        vertical-align: top;
      }
    }
  }

  .download-container {
    width: 216px;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-background-color);
   
    border-radius: 2px;
    margin-bottom: 1.3rem;
    font-size: 1.16rem;
    line-height: 1.29;
    color: var(--primary-text-color);

    .download-logo {
      margin-right: 16px;
      width: 4.167rem;
      height: 4.167rem;
    }

    .download-info {
      display: flex;
      flex-direction: column;

      .download-headline {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: var(--primary-text-color);
      }

      .download-desc {
        margin-top: .5rem;
        font-size: 12px;
        line-height: 20px;
        color: var(--secondary-text-color);
      }
    }
  }
} 
